<h1>商品一覧</h1>
<!-- 全＊件の出し方 -->

<!-- ジャンル検索の部分テンプレート作成要 -->
  <table>

    <tr>
      <% @products.each do |product| %>
      <td>
        <!-- 商品投稿ができるようになったら下記を有効にする -->
        <!-- %= link_to products_path(product.id) do % -->
          <%= image_tag @products.get_image %> 
        <!-- % end % -->
        <p><%= product.name %></p>
        <p>¥<%= product.price_without_tax %>(税込)</p>
      </td>
      <% end %>
    </tr>
    
  </table>