<h3>会員詳細</h3>
  <table>
     <thead>
        <tr>
          <th>会員ID</th>
          <th></th>
        </tr>
        <tr>
          <th>氏名</th>
          <th></th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th></th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th></th>
        </tr>
        <tr>
          <th>住所</th>
          <th></th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th></th>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <th></th>
        </tr>
        <tr>
          <th>変更を保存</th>
        </tr>
     </thead>
  </table>

