<div class='container'>
<div class='row pt-5'>
<div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
  <h3 class='row py-4'>会員一覧</h3>
  <table class="table table-hover">
  <thead class="table-active">
    <tr>
      <th>会員一覧</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
   <% @customer.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_deleted == false %>
            <div>有効</div>
          <% else %>
            <div>退会</div>
          <% end %>
        </td>
      </tr>
   <% end %>
   <%= paginate @customer %>
  </tbody>
  </table>
</div>
</div>
</div>