<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto d-flex justify-content-between m-5">
      <h3 class="bg-light d-flex align-items-center pr-3 pl-3">ジャンル編集</h3>
    </div>
    <%= form_with model: [:admin,@genre] do |f| %>
      <table>
        <tr>
           <th>ジャンル名</th>
           <th><%= f.text_field :name %></th>
           <th><%= f.submit '変更を保存する', class: "btn btn-success" %></th>
           </tr>
        </tr>
      </table>
    <% end %>
  </div>
</div>