<h2>商品新規登録</h2>


 <table>
    <tr></tr>
  	  <th>商品画像</th>
  	  <th>選択されていません</th>
    </tr>
    <tr>
  	  <th>商品名</th>
  	  <th> f.text_area  </th>
    </tr>
    <tr>
     <th>商品説明</th>
     
    </tr>
 </table>

