<h3>注文履歴一覧</h3>

<h5>注文情報</h5>
<table>
  <tr>
    <td>注文日</td>
    <td>date</td>
  </tr>
  <tr>
    <td>配送先</td>
    <td>address</td>
  </tr>
  <tr>
    <td>支払い方法</td>
    <td>method</td>
  </tr>
</table>

<h5>請求金額</h5>
<table>
  <tr>
    <td>商品合計</td>
    <td>cost</td>
  </tr>
  <tr>
    <td>配送料</td>
    <td>shipping cost</td>
  </tr>
  <tr>
    <td>ご請求額</td>
    <td>total cost</td>
  </tr>
</table>

<h5>注文内容</h5>
<table>
  <tr>
    <td>商品</td>
    <td>単価</td>
    <td>個数</td>
    <td>小計</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
