<h4 class="thank_tag"><span>Thank</span> <span class="minus_margin">You</span></h4>
<h6 class="thank_tag"><span>for</span></h6>
<h4 class="thank_tag"><span>Your</span><span class="minus_margin">Purchase</span></h4>